body{
    text-align: center;
    position: relative;
}



.text{
    font-size: 3rem;
    font-style: oblique;
    position: relative;
    bottom: 50px;
}



img{
    font-size: 3rem;
    font-style: oblique;
    position: relative;
    bottom: 50px;
    top: 50px;
    /* position: relative;
    
    top: 0px;
    right: 550px; */
}

h2{
    font-size: 3rem;
    font-style: oblique;
    position: relative;
    top: 40px;
}